.buttoncol {
    font-size: 20px;
    font-family: 'Segoe UI';
    color: #ffffff;
}
.buttoncolbg {
    background-color: #383838;
}
.buttonpad {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.buttonpad2 {
    padding-left: 40px;
    padding-right: 5px;
}
.gradient {
    font-family: 'Segoe UI';
    font-size: 170px;
    background: -webkit-linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(255,159,48,1) 33%, rgba(255,47,183,1) 66%, rgba(125,50,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
.hover:hover {
    background-color: #212121;
}
.bordermain {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border-width: 2px;
}
.bodymainbg {
    background-image: url("../images/bg-kultors.png");
}
.basictext {
    font-family: 'Segoe UI';
    font-size: 55px;
    text-align: center;
    color: mediumpurple;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.basictext2 {
    font-family: 'Segoe UI';
    font-size: 55px;
    text-align: center;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.sidecol1 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: red;
}
.sidecol2 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: coral;
}
.sidecol3 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: darkorange;
}
.sidecol4 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: deeppink;
}
.sidecol5 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: rebeccapurple;
}
.sidecol6 {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: mediumpurple;
}

